- @artifacts.each do |artifact|
  %div.artifact-list-item
    %div.artifact

      - if artifact.users.any?
        .users.short
          %i.fa.fa-user-circle-o
          .type
            - if artifact.whole_class?
              Checklist
            - else
              Artifact
          - artifact.users[0..5].each do |user|
            .user= user.first_name
        .users.full.hidden
          %i.fa.fa-user-circle-o
          .type
            - if artifact.whole_class?
              Checklist
            - else
              Artifact

          - if !artifact.whole_class?
            - artifact.users.each do |user|
              .user= user.name

          - if artifact.whole_class?
            .checklist-preview
              .yes
                %i.fa.fa-check
                .users
                  - artifact.user_artifacts.select{|ua| ua.comprehends}.each do |ua|
                    .user= ua.user.name
              .no
                %i.fa.fa-remove
                .users
                  - artifact.user_artifacts.reject{|ua| ua.comprehends}.each do |ua|
                    .user= ua.user.name


      .description.short
        = "#{showlines(artifact.description[0..200]).html_safe}#{artifact.description.length > 200 ? ' ... show more' : ''}".html_safe

      .description.full.hidden= showlines(artifact.description).html_safe

      - if artifact.image.present?
        .image
          = image_tag artifact.image.url(:large)

      - if artifact.tags.present?
        .tag-list
          - artifact.tags.select{|t| t.present?}.each do |tag|
            .tag= tag

      .date
        = "#{artifact.created_at.in_time_zone("America/Los_Angeles").strftime('%b %d, %Y at %-I:%M%P')}"

      .actions
        = link_to edit_artifact_path(artifact) do
          %i.fa.fa-pencil
          Edit


