%div
  %div= link_to 'Add student', new_artifact_path
  %hr/
  %div All Artifacts
  %div= link_to '+ New', new_artifact_path
  - @artifacts.each do |artifact|
    %div
      = artifact.description
      - if artifact.tags.present?
        = artifact.tags.join(', ')
      - if artifact.image.present?
        = image_tag artifact.image.url(:large)
