.artifact-index
  .controls
    .new-student-link
      = link_to new_student_path do
        %i.fa.fa-plus-circle
        Add Student
    .invite-user-link
      = link_to new_email_path do
        %i.fa.fa-plus-circle
        Invite Collaborator


    - if flash[:notice].present?
      .notice
        %strong Success!
        = h(flash[:notice])


  %hr/
  = form_for :search, url: artifact_search_path, remote: true, html: { id: 'artifact-search' } do |f|
    %ul
      %li.search
        %label Search:
        %br/
        = f.text_field 'q', placeholder: ''

      %li
        %label Student:
        %br/
        = f.select 'student_id', options_for_select([''] + Student.all.map{|s| [s.name, s.id]}), {label: false, allow_blank: true}, "data-placeholder" => 'Select'

      %li
        %label Tags:
        %br/
        = f.select 'tags', options_for_select(tag_list), {label: false}, { multiple: 'true', "data-placeholder" => 'Select' }

      %li
        = link_to new_artifact_path do
          %i.fa.fa-plus-circle
          Add


  .artifacts
    = render partial: 'artifacts/list'