.artifact-index
  %div= link_to 'Add student', new_artifact_path
  %hr/
  %h2 My Artifacts
  = form_for :search, url: artifact_search_path, remote: true, html: { id: 'artifact-search' } do |f|
    %ul
      %li.search
        %label Search:
        %br/
        = f.text_field 'q'

      %li
        %label Student:
        %br/
        = f.select 'student_id', options_for_select([''] + Student.all.map{|s| [s.name, s.id]}), {label: false, allow_blank: true}

      %li
        %label Tags:
        %br/
        = f.select 'tags', options_for_select(tag_list), {label: false}, { multiple: 'true', :placeholder => 'Select' }

      %li
        = link_to '+ New', new_artifact_path


  .artifacts
    = render partial: 'artifacts/list'