<!DOCTYPE html>
<html>
<head>
  <title>Artifactor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="max-width:500px; margin:auto;">
  <div>
    <%=link_to( image_tag("artifactorFullLogoAsset3.svg"), root_path) %>
  </div>

  <%= yield %>
</div>

</body>
</html>
